{% extends 'accounts/base.html' %}

{% block content %}

<head>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      text-align: center;
    }
  </style>
</head>

{% if request.user.is_authenticated  %}
<div class="container">
<div class="card">
  <div class="card-body">
    <p>Hello, {{request.user.username}}</p>
  <p>Welcome! You can now take your test.</p>
  <p><a class='btn btn-md btn-success' href="{% url 'courses-list' %}">Click here to choose</a></p>

</div>
</div>
</div>
{% endif %}
{% endblock %}