{% extends 'accounts/base.html' %}
{% block title %}{{course.title}} | {{user}} {% endblock %}
{% block content %}

<head>
    <style>
        /* .btn, form li {
            margin-left: 1.3rem;
        }

        .pagination li {
            margin-left: 0.1rem;
        } */
    </style>
</head>



<div class="container">
    <!-- <div class="col-lg-8"> -->
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-body">
                {% for q in questions %}
                <h5>{{ page_num }}. {{ q.text }}</h5>
                <form action="" method='POST'>
                    {% csrf_token %}
                    {% for choice in q.choice_set.all %}
                    <input type="radio" id="choice{{ forloop.counter }}" name="choice" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice }}</label>
                    <br>
                    {% endfor %}
                    <button type="submit" class="btn btn-sm btn-outline-info">Next</button>
                </form>
                {% endfor %}

                <div class="pt-2">
                    <ol class="pagination pagination-sm">
                        {% for i in paginator.page_range %}
                        <li class="page-item {% if i == page_num  %} active {% endif %}">
                            <a href="?page={{i}}" class="page-link">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>-->
</div>
{% endblock %}